{% extends "base.html" %}

{% block content %}
<div class="row g-3 justify-content-center">
	<div class="col-12 col-xl-10">
		<div class="card shadow-sm">
			<div class="card-body">
				<h1 class="h3 mb-1">Good {{ time_bucket }}, {{ name }}!</h1>
				<p class="text-body-secondary mb-0">Here’s your day at a glance for {{ target_day.strftime("%A, %b %-d") }}.</p>
			</div>
		</div>
	</div>

	{% set schedule_heading = "Today" %}
	{% include "_day_schedule.html" %}

	{% set todo_widget_heading = "TODO Items for Today" %}
	{% include "_day_todos_widget.html" %}
</div>
{% endblock %}
